@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, blueviolet, orange);
  overflow-x: hidden;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 20px;
  border-bottom: 2px solid #7027a0;
  box-shadow: 0 2px 3px #000;
  z-index: 999;
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, blueviolet, orange);
}

#logo {
  height: 70px;
  width: auto;
  border-radius: 40px;
  margin-right: 20px;
}

.th {
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #fbf4e9;
}

#nav {
  list-style: none;
  display: flex;
  margin-left: 800px;
}

.none {
  text-decoration: none;
  margin-right: 30px;
  font-size: 1.1rem;
}

.none:hover {
  color: #c32bad;
}

.chillroom {
  display: flex;
  margin-top: 130px;
  align-items: center;
  justify-content: center;
  margin-left: 1100px;
}

.room {
  font-size: 1.2rem;
}

#player {
  margin-left: 20px;
}

#box {
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  color: #23049d;
}

#box:hover {
  color: white;
  background: #3edbf0;
  cursor: pointer;
}

.social {
  margin-top: 30px;
  text-align: center;
}

.am {
  font-size: 2.5rem;
}

.much,
.contains {
  font-size: 1.3rem;
  margin-top: 10px;
}

.profiles {
  text-align: center;
  margin-top: 50px;
}

.my {
  font-size: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  text-align: center;
  height: auto;
  justify-content: center;
  border-radius: 20px;
  margin-left: 50px;
  padding: 20px 0 0 20px;
  box-shadow: 9px 9px 67px 16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 9px 67px 16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 67px 16px rgba(0, 0, 0, 0.75);
}

#gram {
  height: 250px;
  width: auto;
}

.hub, .profile, .linkks {
    font-size: 1.1rem;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.linkks {
    margin-bottom: 20px;
    color: blue;
}

.linkks:hover {
    color: blueviolet;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container {
    margin-bottom: 50px;
}
